@font-face {
  font-family: "iconfont"; /* Project id 2987071 */
  src: url('iconfont.woff2?t=1638587403737') format('woff2'),
       url('iconfont.woff?t=1638587403737') format('woff'),
       url('iconfont.ttf?t=1638587403737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ali-zan:before {
  content: "\e603";
}

.icon-ali-yizan:before {
  content: "\e60d";
}

.icon-ali-cai:before {
  content: "\e60e";
}

.icon-ali-yicai:before {
  content: "\e60f";
}

